<h2>New</h2>
<form action="/celebrities/new" method="post">
Name: <input type="text" name="name" value="{{celebrities.name}}"></input>
Occupation: <input type="text" name="occupation" value="{{celebrities.occupation}}"></input>
Catch Phrase: <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}"></input>
<button type="submit">Create</button>
</form>